<form action="/crear_perfil" method="POST">
    <input type="text" name="nombre" placeholder="Nombre">
    <input type="text" name="apellido" placeholder="Apellido">
    <input type="text" name="email" placeholder="Email">
    <!--<input type="text" name="fecha_nac" placeholder="Fecha de Nacimiento">-->
    <input type="text" name="disp_horaria" placeholder="Disponibilidad Horaria">
    <input type="text" name="provincia" placeholder="Provincia">
    <input type="text" name="descripcion" placeholder="Descripción">
    <button type="submit">Guardar</button>
</form>